.ContactPage {
  height: -webkit-fill-available;
}

.ContactPage.Warmwind {
  background-color: #8e8075;
}

.ContactPage.Darkfusion {
  background-color: #3c3c3c;
}

.return {
  width: 20px;
  margin-left: 12px;
  padding-top: 18px;
}

.return.Warmwind {
  filter: grayscale(100);
  filter: brightness(100);
}

.return.Darkfusion {
  filter: hue-rotate(-40deg);
}

.line {
  position: absolute;
  left: 22.5px;
  top: 100px;
  width: 370px;
  height: 2.5px;
}

.line.Cleanair {
  background-color: #f0f0f0;
}

.line.Darkfusion {
  background-color: #cbccd0;
}

.line.Warmwind {
  background-color: #e56f6f;
}

.circleimg {
  position: absolute;
  left: 157px;
  top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.img {
  position: absolute;
  left: 162.5px;
  top: 54px;
  width: 90px;
}

.circleimg.Cleanair {
  background-color: #f0f0f0;
}

.circleimg.Warmwind {
  background-color: #e56f6f;
}

.circleimg.Darkfusion {
  background-color: #cbccd0;
}

.bigname {
  text-align: center;
  margin: auto;
  margin-top: 105px;
  margin-bottom: 5px;
  font-family: Helvetica Neue;
  font-size: 24px;
  letter-spacing: 0.6px;
}

.bigname.Cleanair {
  color: #505050;
}

.bigname.Warmwind {
  color: white;
}

.bigname.Darkfusion {
  color: #cbccd0;
}

.job {
  margin-top: 20px;
  margin-left: 28px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: Helvetica Neue;
  padding: 5px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  letter-spacing: 0.5px;
}

.job.Cleanair {
  background-color: #f0f0f0;
  color: #0679c1;
}

.job.Warmwind {
  background-color: #f9ddc5;
  color: #e56f6f;
  box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
}

.job.Darkfusion {
  background-color: #17181c;
  color: #09937b;
  box-shadow: 0 3px 4px 0 hsla(0, 0%, 0%, 0.2);
}

.property {
  margin-left: 28px;
  padding-top: 20px;
  font-family: Helvetica Neue;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.7px;
}

.property.Cleanair {
  color: #333333;
}

.property.Warmwind {
  color: #f9ddc5;
}

.property.Darkfusion {
  color: #09937b;
}

.content {
  margin-left: 28px;
  font-family: Helvetica Neue;
  font-size: 17px;
  padding-top: 6px;
  letter-spacing: 0.8px;
}

.content.Cleanair {
  color: #0679c1;
}

.content.Warmwind {
  color: white;
}

.content.Darkfusion {
  color: #c7c7c7;
}

.notes.Cleanair {
  color: #959595;
}

.notes.Warmwind {
  opacity: 0.5;
}

.notes.Darkfusion {
  opacity: 0.8;
}
