.App {
}

.shade {
  background-color: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.topBar {
  width: -webkit-fill-available;
  font-family: Helvetica Neue;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-width: 1.2px;
  border-color: #707070;
  text-align: center;
  position: fixed;
  display: inline-flex;
  background-color: white;
}

.moreIcon {
  margin: auto;
  margin-left: 20px;
  width: 25.5px;
  height: 8px;
}

.addIcon {
  width: 23px;
}

figure {
  margin: 0;
  display: inline-block;
}

svg {
  color: #057fcb;
}

p {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}

.center {
  font-size: 22px;
  color: #555555;
  display: inline-block;
  padding-left: 24%;
  padding-right: 20%;
}

.main {
  display: flex;
}

.contacts {
  width: 380px;
}

.sideBar {
  text-align: right;
  color: #0679c1;
  font-size: 18px;
  position: fixed;
  top: 140px;
  right: 15px;
}

.searchLine {
  display: inline-flex;
  align-items: center;
}

.blackspace {
  height: 65px;
  width: 10px;
}

.searchBar {
  font-size: 16px;
  margin-left: 12px;
  margin-right: 5px;
  width: 330px;
  height: 25px;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #707070;
  outline: none;
}

.tag {
  margin-left: 10px;
}

.contactNum {
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 18px;
  color: #666666;
  padding-top: 10px;
  padding-bottom: 10px;
}

.NoOption {
  display: none;
}

.Options {
  display: block;
  position: fixed;
  bottom: 0;
  height: 470px;
  width: 100%;
  background-color: white;
}

.top-bar {
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 20px;
  padding: 10px;
  color: #555555;
  border-bottom-style: solid;
  border-width: thin;
}

.optionName {
  font-family: Helvetica Neue;
  font-size: 20px;
  color: #045e96;
  margin-left: 20px;
  margin-top: 15px;
}
