.letterButtons {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: auto;
  outline: none;
  display: block;
  line-height: 22px;
  margin-bottom: 2px;
}

.Cleanair.letterButtons {
  color: #0679c1;
}

.Warmwind.letterButtons {
  color: white;
  text-shadow: -2px 3px hsla(0, 0%, 0%, 0.2);
}

.Darkfusion.letterButtons {
  color: #40ac80;
  text-shadow: -2px 3px 0 hsla(0, 0%, 0%, 0.2);
}
